body {
    margin: 0;
    padding: 0;
    background-color: rgb(231, 231, 231);
    font-family: Agdasima;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-image: url(img/campo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    transition: all 0.8s ease;
    background-color: rgb(255, 255, 255);
    display: flex; 
    align-items: center;
    padding: 20px;
    top: 0;
    position: sticky;
    z-index: 1000;
    box-shadow: 0 5px 15px black;
}

.logo {
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}

.direita a:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.direita a {
    padding-left: 30px;
    display: inline-block;
}
.direita {
    padding: 30px 50px;
    margin-left: auto;
}

.links {
    transition: transform 0.3s ease-in-out;
}

.links:hover {
    transform: scale(1.2);
}

.nomes {
    font-size: medium;
}

.titulo {
    font-size: 70px;
    padding-left: 25px;
    font-family: "Agdasima", serif;
    align-items: center;
}

button {
    border-radius: 15px;
    outline: none;
    margin: 0px 5px; 
}

button:active {
    transform: scale(0.9);
}

button:hover {
    background-color: rgb(139, 139, 139);
}


.tamanhofonte {
    font-size: large;
    color: white;
    background-color: rgb(0, 68, 255);
    border-radius: 5px;
    padding-bottom: 3px;
    padding-left: 3px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 120px;
}
ul li {
  padding: 8px;
}
ul li:hover {
  background: #f0f0f0;
}

.contatos {
    align-items: center;
    text-align: center;
    margin: 10%;
    padding: 5%;
    font-size: 20px;
    background-color: rgb(172, 172, 172);;
    border-radius: 25px;
    border-color: #6d9f40;
    border-style: outset;
    border-width: 10px;
}

.logos {
    width: 30px;
    height: 30px;
    align-items: center;
}

.rodape {
    text-align: center;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}